  <dialog class="dialog-mask">
    <div class="dialog-box">
      <div class="decorator-bar">
      </div>
      <div class="dialog-main-container">
        <div class="dialog-close">
          <img src="/picture/close.png">
        </div>
        <div class="dialog-main">
          <div class="dialog-title">登入會員帳號</div>
          <div class="input-email"><input type="email" class="input-text" id="email" name="email" placeholder="輸入電子郵件"
              required>
          </div>
          <div class="input"><input type="password" class="input-text" id="password" name="password" placeholder="輸入密碼"
              required>
          </div>
          <button class="dialog-button" onclick="signin()">登入帳戶</button>
          <div class="message"></div>
          <div class="switch-signup" onclick="toSignup()">還沒有帳戶？點此註冊</div>
        </div>

      </div>
  </dialog>