<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head.ejs -->
    {% block css %}{% endblock %}
  </head>

  <body>
    <!-- nav.ejs -->

    <!-- dialog.ejs -->

    {% block main %}{% endblock %}

    <!-- footer.ejs -->

    <!-- script.ejs -->

    {% block js %}{% endblock %}
  </body>
</html>
