<nav class="navigation">
  <div class="nav-container">
    <a href="/" style="text-decoration: none">
      <span class="nav-text"> 台北一日遊 </span>
    </a>
    <div class="frame2">
      <div class="frame1">
        <div class="nav-button1" id="booking">
          <span class="nav-button1-text">預定行程</span>
        </div>
        <div class="nav-button2" id="login">
          <span class="nav-button2-text">登入/註冊</span>
        </div>
        <div class="member">
          <div id="member-center">
            <div class="nav-button2">
              <span class="nav-button2-text">會員中心</span>
            </div>
            <img class="nav-avatar" src="/uploads/default.png" />
          </div>
          <div class="member-container">
            <div class="nav-button2" id="booking-quiry">
              <span class="nav-button2-text" id="booking-quiry-text"
                >訂單查詢</span
              >
            </div>
            <div class="nav-button2" id="member-account">
              <span class="nav-button2-text" id="member-account-text"
                >會員頁面</span
              >
            </div>
            <div class="nav-button2" id="logout">
              <span class="nav-button2-text" id="logout-text">登出</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
